/****************    NAVBAR  ***********************/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
li{
list-style: none;
}
a{
  color: #fff !important;
  text-decoration: none;
  
}
body{
  font-family: 'Roboto', sans-serif;
}
nav{
  z-index: 4;
  color: #fff !important;
}
.logo{
  width: 14.25rem;
}
.menu{
  width: 652px;
  margin-left: auto !important;
  max-width: 100%;

  
}
/* @media (max-width:768px) {
  .menu{
    position: absolute;
    top: 56px;
    left: 0;
    z-index: 100 !important;
    background-color: rgb(65, 65, 65);
    width: 100vw;
transition: 0.3s ease;
  }
} */
.nav-link {
letter-spacing: 1.045px;
cursor: pointer;
margin-right: 20px;

}
 .nav-item{
margin-left: 25px;
line-height: 1.5;
position: relative;


} 
.nav-link::before{
  content: "";
    width: 0;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 20px;
    left: -15px !important;
    transition: 0.3s;
  }
.active::after{
  content: "";
    width: 15px;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 20px;
    left: -15px !important;
  }
  .nav-link:hover::before  {
      width: 15px;  
    }

    @media(max-width:768px) {
      .nav-link:hover::before  {
        width: 0; 
   
      }
    }
    .navbar-toggler {
      border: none !important;
      outline: none !important;
      font-size: 1rem !important;
    }
    .navbar-toggler:focus {
       box-shadow: 0 0 0 0 !important; 
      border: none !important;
      outline: none !important;
      transform: rotate( 90deg) ;
      transition: 0.5s;
    }
    .fa-ellipsis-v{
      color: #fff;
      font-size: 1.25rem;

    }
    /****************    Header  ***********************/
.header-wrapper{
  background-image: linear-gradient(rgba(0, 0, 0, 0.479), rgba(0, 0, 0, 0.425)),
  url("../public/images/buleD.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  height: 90vh;  
}
.main-info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  color: #fff;
  padding-top: 40vh;
  padding-left: 10rem;

}
.main-info h1{
  font-size: 70px;
  font-weight: bold;
letter-spacing: 1rem;
}
.typed-text{
  color: white;
  letter-spacing: 0.7rem;
  font-size: 1rem;
  font-weight: 500;

}
.main-info a{
  background-color: rgb(65, 65, 65);
  padding: 10px 35px;
  display: block;
  margin-top: 2.5rem;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 700;
  transition: 0.2s ease-in-out;
  z-index: 5;

}
.main-info a:hover{
  background-color: rgb(14, 105, 223);
}
@media(max-width:768px) {
  .main-info a:hover{
    background-color: rgb(65, 65, 65);
  }
  .main-info h1{
    font-size: 40px;
 
  }
  .main-info{
    padding-left: 1rem;
  }
  .typed-text{
    font-size: 0.8rem;
  
  }
}
 /****************    Particles js ***********************/
#tsparticles{
  position: absolute;
  height: 90vh;
  width: 100vw;
  z-index: 2;
}
@media(max-width:768px) {
  #tsparticles{
    display: none; 
  }
}
 /**************** ABOUT ME ***********************/
.row.aboutSection{
margin: 5rem 0;

}
.img-fluid{
  max-width: 100%;
  width: 80%;
  height: 500px;
}
.about-text h1{
 font-size: 25px;
 margin-bottom: 20px;

}
.about-text ul{
  margin-left: -40px;

}
.about-text a{
    background-color: rgb(65, 65, 65);
    padding: 10px 35px;
    margin-top: 5 rem;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 700;
    transition: 0.2s ease-in-out;
    border-radius: 4px;
    margin-top: 24px;
    display: inline-block;

 
  
  }
  .about-text a:hover{
    background-color: rgb(14, 105, 223);
  }
/************************** Projects ******************/
#Projects ul button{
font-weight: bold;
}
#Projects ul button:hover{
  color: rgb(26, 98, 202);
  }
.btn-transparent.active{
  color: rgb(26, 98, 202);
}
#Projects .card{
  overflow: hidden;
  width: 100%;
  height: max-content;
  position: relative !important;
  z-index: 3 !important;

}
 #Projects .card-img-top.project{
  width: 100%;
  max-width: 100%;
  transition: 0.3s ease-in-out;
  overflow: hidden;
  position: relative;
  z-index: 5;

}
.img-content{
  position:absolute;
  left: 0;
  right: 0;
  bottom:-170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 6;
transition: 0.5s ease;

}
.img-content:hover{
  bottom:0px;
  top: 0;


}
.img-content a{
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  display: block;
  text-transform: uppercase;
}
.img-content a:hover{
 color: rgb(0, 119, 255) !important;
}
.img-content p{
  font-size: 0.8rem;
  text-align: center;
  font-weight: normal;
  color: #fff;
  line-height: 23.5px;
  width: 250px;
  text-transform: capitalize;

}
#Projects .card-img-top.project:hover{
 transform: scale(1.4);

}
/*************** ProjectVideo ************/

#Single .singlePVideo{

  position: absolute !important;
  top: 0;
  left: 0;
  width: 500px;
  height: 100%;
  z-index: 10 !important;

}
/************ Skills *************/
#Tools .media{
  width: 80%;
  
  margin-left:  auto;
  margin-right:  auto;
}
#Skills .card{
  border: none !important;
  margin-top: 2rem;
  padding: 2rem !important;
  width: 100%;
  height: auto;

}

#Skills .card-img-top{
  width: 55%;
  max-width: 100%;
  margin: 0 10px;
  padding: 0px;
  height: 6rem;


}

/************ Tools *************/

#Tools .card{
  border: none !important;
  margin-top: 2rem;
  padding: 2rem !important;
  width: 100%;
  height: auto;

}

#Tools .card-img-top{
  width: 55%;
  max-width: 100%;
  margin: 0 10px;
  padding: 0px;
  height: 6rem;


}

  /****************Footer ***********************/

 .social-links{

  background-color: black;
  width: 100%;
  max-width: 100%;
  padding: 5rem 0;
  color: #fff;
  
 }
 .social-links .icons{
margin: 0.5rem 0;

  
 }
 .social-links .icons a i {
  font-size: 25px;
  margin-bottom: 0.8rem;
  
    
   }
   .social-links .icons a i:hover {
    color: rgb(14, 105, 223);
    transition: ease-in-out 0.3s;
    
      
     }
 .social-links .icons p{
  margin-top: 2rem;
  
    
   }